{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-a.jpeg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Para más información</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Soluciones Informáticas</h3>
        <p>Nuestro enfoque no es solo resolver problemas técnicos, sino también brindar un servicio cercano y eficiente para cada cliente. Nos importa tanto la solución como la experiencia de quienes confían en nosotros. Creemos que un buen servicio informático debe ofrecer resultados que sean confiables, seguros y que puedan crecer junto con las necesidades de las personas o empresas. Cada proyecto es una oportunidad para mejorar y facilitar la vida de nuestros clientes. </p>            
        <br>
        <p><b>Teléfono:</b> +52 729 301 5316</p>
        <p><b>Honorarios:</b> 12:00 am a 8:00 pm</p>
        <p><b>Correo:</b> aaron@gamil.com</p>
    </div>
</div>
{% endblock %}

